:root {
    --brandColor: rgba(69, 9, 116,1);
    --brandColorOpaque: rgba(69, 9, 116,.5);
}

h1 {
    color: var(--brandColor) !important
}

header {
    display: flex;
    justify-content: flex-end;
}

footer {
    display: flex;
    background-color: aqua;
    justify-content: center;
    height:250px;
}

#keywordForm {
    background-color: rgba(0, 0, 255, 0.672) !important;
}

#keywordEntry {
    position: fixed;   
    bottom: 0;
}
/* Buttons */
.btn-primary{
    background-color: var(--brandColor) !important;
    border: none !important;
}
.btn-primary:hover{
    background-color: var(--brandColorOpaque) !important;
}

.remove {
    color: red;
}
.remove:hover {
    text-decoration: underline;
    cursor: pointer;
}